# macOS
.DS_Store

# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Builds
[Bb]uild/
[Bb]uilds/

# IDE
.vscode/
.vs/
.idea/

# Visual Studio
*.csproj
*.sln
*.user
*.pidb
*.booproj
